
<h2 class=" col-md-11 col-centered display-3"> {{user.name}}'s Todo</h2>



<div class="row">


       <input  (keydown)="keyDownFunction($event)" [(ngModel)]="newTodo" class="form-control form-control-lg" type="text" placeholder="Create a Todo Here">
     
</div>

<ul class="list-group col-md-5 col-centered">

    <li *ngIf="todosList.length==0"
    class="list-group-item d-flex justify-content-between align-items-center"
    >
    No Items in your list!
    </li>
    <app-todo-list-item [diableClose]="disbleTodoDelete" [todo]="todo" (onChangeStatus)="changeTodoStatus($event)" (deleteAction)="deleteTodo($event)" *ngFor="let todo of todosList" > </app-todo-list-item>
</ul>
